fastapi
python-jose
passlib
python-multipart
sqlalchemy
pydantic
python-dotenv
bcrypt
langchain
google-generativeai
pypdf
python-docx
python-pptx
chromadb
tiktoken
fastapi-utils
langchain_community
langchain_google_genai
langchain_chroma
pydantic[email]
docx2txt
